.app-container {
    font: 15px sans-serif;
    text-align: center;
}

.phone-input {
    height: 40px;
    width: 300px;
    margin: 10px;
    font-size: 1.2em;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.phone-input-submit {
    height: 40px;
    width: 100px;
    margin: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.otp-input {
    height: 40px;
    width: 40px;
    margin: 10px;
    font-size: 1.2em;
}